.lobby {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;

  h1 {
    margin: 0;
    padding: 18px 0px 30px 0;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }

  .games {
    display: grid;
    grid-auto-columns: 320px;
    grid-template-columns: minmax(320px, 420px);

    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 3px;

    @media only screen and (min-width: 660px) {
      grid-template-columns: repeat(2, minmax(320px, 420px));
    }

    @media only screen and (min-width: 1000px) {
      grid-template-columns: repeat(3, minmax(320px, 420px));
    }
  }
}
