.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;

  padding: 5px;

  &.active {
    visibility: visible;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15vw;

  .fold-control {
    border-radius: 4px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--fold-color);
    gird-area: fold;
  }

  .call-control {
    border-radius: 4px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--call-color);
    grid-area: call;
  }
  .fold-call {
    display: grid;
    grid-template-areas: "fold call";
    grid-gap: 5px;
  }

  button {
    display: grid;
    font-size: 12px;
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: transparent;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    // padding: 2px;
  }

  button[disabled] {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }

  .all-in {
    background-color: var(--all-in-color);
  }

  .bet-control {
    display: grid;
    grid-template-areas: "bet bet-options";
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;

    &.disabled {
      visibility: hidden;
    }

    .bet {
      border-radius: 4px;
      background-color: var(--bet-color);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      grid-area: bet;
    }

    .bet-options {
      border-radius: 4px;

      background-color: var(--bet-color);

      grid-area: bet-options;
    }

    .bet-speed-actions {
      display: grid;
      grid-template-columns: repeat(4, auto);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .min,
      .half,
      .pot {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .bet-selector {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      .min {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .max {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
      .slider {
        position: relative;
        height: 100%;
      }
      .thumb {
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 20px;
      }
    }
  }
}

.portrait {
  .actions {
    grid-gap: 5px;
    .fold-call {
      grid-template-areas: "call" "fold";
      // width: 100px;
    }

    .bet-control {
      // justify-self: end;
      grid-template-areas: "bet" "bet-options";
      grid-template-columns: auto;
    }
  }
}
