.stacks {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 3.2vmin;

  svg {
    display: block;
  }

  .chips-images {
    justify-self: end;
  }

  .chips-sum {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.3vmin;
    padding: 0.2vmin 0.6vmin;
    padding-bottom: 0.27vmin;
    border-radius: 8px;
    justify-self: start;
  }

  .stack {
    position: relative;
    display: inline-block;

    .chip {
      width: 3.2vmin;

      &:nth-child(2) {
        position: absolute;
        top: -0.25vmin;
        left: 0;
      }
      &:nth-child(3) {
        position: absolute;
        top: -0.5vmin;
        left: 0;
      }
      &:nth-child(4) {
        position: absolute;
        top: -0.75vmin;
        left: 0;
      }
      &:nth-child(5) {
        position: absolute;
        top: -0.1vmin;
        left: 0;
      }
    }
  }
}
