.app {
  position: relative;
  transition: left 0.2s;
  opacity: 1;
  left: 0;
  height: 100vh;
}

.menu {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 320px;
  right: -320px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: right 0.2s;
}

.active-menu {
  .app {
    left: -320px;
    opacity: 0.4;
  }
  .menu {
    right: 0px;
  }
}

.games-drawer {
  position: absolute;
  width: 320px;
  top: 0;
  bottom: 0;
  left: -320px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 66px;

  .toggle-games {
    position: absolute;
    cursor: pointer;
    right: -25px;
    top: calc(50% - 50px);
  }
}

.toggle-games {
  .chevron {
    transform: scale(1, 1) translate(0, 0);
    transform-origin: center;
  }
}

[data-games="visible"] {
  .games-drawer {
    left: 0;
  }
  .toggle-games {
    .chevron {
      transform: scale(-1, 1) translate(13px, 0);
    }
  }
}

.card,
.hidden-card {
  fill: black;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.1);
}

button {
  font-family: "Oswald", sans-serif;
  border: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  color: white;
  // box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.15);
  font-size: 1.5vmin;
}

.pill {
  padding: 0.8vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 3vmin;
}
