.player {
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.players .card,
.players .hidden-card {
  width: 7vmin;
}

.player-cards {
  white-space: nowrap;
}

.player-cards .card:nth-child(2),
.player-cards .hidden-card:nth-child(2) {
  margin-left: -1.2vmin;
}

.info-circle {
  width: 2.2vmin;
  display: inline-block;
}

.player-top {
  text-align: center;
}

.player-chips {
  position: absolute;
  color: white;
  text-align: center;

  .chips {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2vmin;
  }

  .chip {
    width: 2.5vmin;
  }
}
