.player {
  display: inline-block;
  position: absolute;
  // overflow: hidden;

  &.sitting {
    opacity: 0.4;
    .player-info {
      background-color: #444;
    }
  }

  &.ready {
    .player-info {
      background-color: #444;
    }
  }

  &.folded {
    .player-info {
      background-color: #f44336;
    }
  }

  &.called,
  &.checked {
    .player-info {
      background-color: #2196f3;
    }
  }

  &.betted,
  &.raised {
    .player-info {
      background-color: #ff9800;
    }
  }

  &.all-in {
    background-color: #9c27b0;
  }

  &.active {
    .player-info {
      background-color: #444;
    }
  }

  &.winner {
    .player-info {
      color: black;
      background-color: #f9ed32;
    }
  }
}

.player-info {
  position: absolute;
  border-radius: 3px;
  left: 0;
  right: 0;
  bottom: 2vmin;
  text-transform: uppercase;
  font-size: 1.6vmin;
  background-color: transparent;
  padding: 0.4vmin 0.7vmin;

  display: grid;
  grid-template-areas: "state stake";
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .state {
    grid-area: state;
  }

  .stake {
    grid-area: stake;
    text-align: center;
  }
}

.players .card,
.players .hidden-card {
  width: 7vmin;
}

.player-cards {
  white-space: nowrap;
  padding: 0 1vmin;
}

.player-cards .card:nth-child(2),
.player-cards .hidden-card:nth-child(2) {
  margin-left: -1.2vmin;
}

.info-circle {
  width: 2.2vmin;
  display: inline-block;
}

.player-top {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -2.8vmin;
}

.player-progress {
  position: relative;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 0.5vmin;

  .bar {
    transition-property: width;
    transition-duration: 25s;
    transition-timing-function: linear;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.player-chips {
  position: absolute;
  color: white;
  text-align: center;

  .chips {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2vmin;
  }

  .chip {
    width: 2.5vmin;
  }
}
