.games {
  a {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
  }
}

.table-preview {
  height: 42px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1.9fr 3fr 4fr 1.9fr;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.active {
    border: 1px solid white;
    border-radius: 0px;
  }

  .stakes,
  .players-info {
    font-size: 11px;
  }

  .positions-info {
    height: 100%;

    .table {
      fill: var(--table-color);
    }
  }

  .cards-preview {
    .hidden-card {
      opacity: 0.3;
    }
    .hidden-card,
    .card {
      margin: 0.5px;
      width: auto;
      height: 32px;
    }
  }

  .enter {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
  }

  .buy-in,
  .fun,
  .rake {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
  }
}
