.table {
  height: 100vh;

  display: grid;
  align-content: center;
  justify-content: center;

  h2 {
    display: none;
  }

  .table-body {
    overflow: visible;
    width: calc(50vw * 1.45);
    height: 50vh;
    max-width: calc(540px * 1.45);
    max-height: 540px;
    transform: rotate(3deg);

    polygon,
    circle {
      transform-origin: center;
    }
    .inner-border {
      transform: scale(0.88) rotate(0deg);
      transform-origin: center;
      opacity: 0.09;
    }
  }

  .players {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .table-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    justify-items: center;
    align-content: center;

    .five-cards {
      margin: 1.2vmin;
    }

    .hidden-card {
      opacity: 0.3;
    }

    .round-pot {
      text-align: center;
    }

    .round {
      display: inline-block;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 2.1vmin;
      min-width: 11vmin;
    }

    .pot {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.2);
      font-size: 2.1vmin;
      margin-left: 4vmin;
      min-width: 11vmin;
    }
  }

  .leave-table {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    margin: 20px;
    right: 98px;
    cursor: pointer;

    svg {
      fill: white;
    }
  }

  .join-table {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 42px;
    height: 42px;
  }

  .error {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-content: center;
    padding: 20px;
  }

  h2 {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.7vmin;
    text-align: center;
    position: relative;
    top: -7.5vmin;
  }

  // &.vertical {
  //   .table-body {
  //     transform: scale(0.7, 1.1) rotate(3deg);
  //   }
  // }
}
