.app {
  position: relative;
  transition: left 0.15s;
  opacity: 1;
  left: 0;
  height: 100vh;
}

.menu {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: width 0.13s;
}

.card,
.hidden-card {
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.1);
}

.active-menu {
  .app {
    left: -320px;
    opacity: 0.4;
  }
  .menu {
    width: 320px;
  }
}

button {
  font-family: "Oswald", sans-serif;
  border: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  color: white;
  // box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.15);
  font-size: 1.5vmin;
}

.pill {
  padding: 0.8vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 3vmin;
}

nav {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 0;

  display: grid;
  grid-template-areas: "logo menu";
  align-items: center;
  grid-area: nav;

  .logo {
    height: 5.5vmin;
    width: 5.5vmin;
    grid-area: logo;
    margin: 2.5vmin;
  }

  .menu-item {
    width: 3vmin;
    height: 3vmin;
    margin: 3vmin 4vmin;
    grid-area: menu;
    justify-self: end;
    cursor: pointer;
  }
}
