html {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  --table-color: #08d362;
  --bg-color: #169651;
  --fold-color: #f44336;
  --call-color: #2196f3;
  --bet-color: #ff9800;
  --all-in-color: #9c27b0;
  background-color: var(--bg-color);
}

body {
  margin: 0;
  color: white;
  fill: white;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

svg {
  fill: white;
}

main {
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
}

button {
  font-family: "Oswald", sans-serif;
  border: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.green {
  // background-image: linear-gradient(90deg, #169651 0%, #0ccc5a 100%);
}
