nav {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 0;

  display: grid;
  grid-template-areas: "logo menu";
  align-items: start;
  grid-area: nav;

  .logo {
    width: 42px;
    height: 42px;
    grid-area: logo;
    margin: 12px 8px;
    cursor: pointer;
  }

  .menu-item {
    width: 24px;
    height: 24px;
    margin: 20px;
    grid-area: menu;
    justify-self: end;
    cursor: pointer;
  }
}
